.introcontainer{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.textintro{
    color: white;
    padding: 5px;
}

.contbtncontainer{
    border-radius: 25vmin;
}
.acceptbtn{
    background-color: orange;

    position: absolute;
    top: 150%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    border-radius: 25vmin;
    width: 8vmin;
    height: 8vmin;
}
.check{
    width: 3vmin;
    top: 80%;
    height: 3vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}