*{
  margin: 0;
  padding: 0;
}

.logoname{
  font-size: 16px;
}


.navbar{
color:white;
display:flex;
justify-content: space-around;
align-items: center;
height:40px;
}

.navbar ul{
 list-style-type: none;
 display:flex;
 align-items: center;
}

.navbar ul li a {
padding: 1vmin;
color: white;
text-decoration: none;
margin: 1vmin;
font-size:12px;

}

.navbar ul li a:hover{
  background:#ece4e4;
  color:rgb(30, 23, 23) ;
  border-radius: 25px;
}