.TournamentsIntro{
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 15%;
}

body{
    background-color: #244F43;
}

.TContainer{
    margin-top: 20px;
}
.TListContainer{
    
    margin: auto;
    width: 70%;
    
    padding: 10px;
    

    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
       
}
.TNail{
    text-align: center;
   
    border-radius: 35px;
    background-color: #3E0B82;
    margin: auto;   
}

.TLabel {
    text-decoration: none;
    color: white;
}
.TLabel a{
    text-decoration: none;
    color: white;
}

.TNail:hover{
    background-color: #2e085f;
}
.TImage{
    padding-top: 5px;
    width: 50%;
}

.AddT{
    border-radius: 35px;
    padding: 10px;
    justify-content: center;
    border: dashed white;
    color: white;
}

.AddContainer{
    padding: 10%;
    text-align: center;
   
    margin: auto; 
}

.AddT:hover{
    background-color: #3E0B82;
}

.PlusBtn{
    width: 20%;
}

.THigh{
    color: #FFB900;
}